.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Load{
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center
}

/*
                                                          Header component
-------------------------------------------------------------------------------------------------------------------------------
*/

.Logo-header{
  margin-top: 6px;
  width: 130px;
  height: 22px;
  top: calc(50% - 22px/2);
}

.Get-con{
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
}

.Button-header{
  margin: 0px 16px 0px 0px;
}

.linkColor{
  color: black;
  text-decoration: none;
  margin: 0px 16px 0px 0px;
}

.nav-link :hover{
  color: #F75E05;
}

/* 
                                              Home paje
-------------------------------------------------------------------------------------------------------- 
*/

.Home_one{
  background-color: rgba(236, 128, 128, 0.5);
}

.Car-bg{
  background: transparent;
  border: none;
}

.Car-bg-1{
  text-align: center;
  font-family: Lato;
}

.Car-count{
  /* h1 */

  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  /* identical to box height, or 60px */

  display: flex;
  align-items: center;
  text-align: center;

  /* gray/900 */

  color: #1E212C;


  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 12px;
}

.Car-textr{
  color: black;
}

/* Enjoy studying with Createx Online Courses */
.Car-text-1{
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  /* or 83px */
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  /* gray/900 */
  color: #1E212C;
}

.Button-home-one{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    transition: box-shadow 0.6s linear;
    margin: 0.5em;
    background: #FF3F3A;
}

.Button-home-one:hover{
  box-shadow: 0px 0px 0px 15px rgba(236, 128, 128, 0.5);
  background: #FF3F3A;
}

.Polygon{
  position: relative;
    top: 10px;
    left: 1.7px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Car-txt-1{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 10px;
}



/*----------------------------*/



.Home_two{
	margin-top: 100px;
}

.wwa{
  /* Who we are */

height: 24px;
left: 0px;
top: 0px;

/* h6 */

font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

letter-spacing: 1px;
text-transform: uppercase;

/* gray/900 */

color: #1E212C;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}

.wc{
  /* Why Createx? */


height: 60px;
left: 0px;
top: 32px;

/* h1 */

font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 130%;
/* identical to box height, or 60px */


/* gray/900 */

color: #1E212C;

/* Inside Auto Layout */

flex: none;
flex-grow: 0;
margin: 0px 0px 35px 0px;
}

.H-t-text{

height: 52px;
left: 32px;
top: 0px;

/* base/regular */

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
/* or 26px */


/* gray/800 */

color: #424551;

margin-bottom: 0rem;
}



/*----------------------------*/
