.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Load{
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center
}

/*
                                                          Header component
-------------------------------------------------------------------------------------------------------------------------------
*/

.Logo-header{
  margin-top: 6px;
  width: 130px;
  height: 22px;
  top: calc(50% - 22px/2);
}

.Get-con{
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
}

.Button-header{
  margin: 0px 16px 0px 0px;
}

.linkColor{
  color: black;
  text-decoration: none;
  margin: 0px 16px 0px 0px;
}

.nav-link :hover{
  color: #F75E05;
}

/* 
                                              Home paje
-------------------------------------------------------------------------------------------------------- 
*/

.Home_one{
  background-color: rgba(236, 128, 128, 0.5);
}

.Car-bg{
  background: transparent;
  border: none;
}

.Car-bg-1{
  text-align: center;
  font-family: Lato;
}

.Car-count{
  /* h1 */

  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  /* identical to box height, or 60px */

  display: flex;
  align-items: center;
  text-align: center;

  /* gray/900 */

  color: #1E212C;


  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 12px;
}

.Car-textr{
  color: black;
}

/* Enjoy studying with Createx Online Courses */
.Car-text-1{
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  /* or 83px */
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  /* gray/900 */
  color: #1E212C;
}

.Button-home-one{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    transition: box-shadow 0.6s linear;
    margin: 0.5em;
    background: #FF3F3A;
}

.Button-home-one:hover{
  box-shadow: 0px 0px 0px 15px rgba(236, 128, 128, 0.5);
  background: #FF3F3A;
}

.Polygon{
  position: relative;
    top: 10px;
    left: 1.7px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Car-txt-1{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 10px;
}



/*----------------------------*/



.Home_two{
	margin-top: 100px;
}

.wwa{
  /* Who we are */

height: 24px;
left: 0px;
top: 0px;

/* h6 */

font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

letter-spacing: 1px;
text-transform: uppercase;

/* gray/900 */

color: #1E212C;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}

.wc{
  /* Why Createx? */


height: 60px;
left: 0px;
top: 32px;

/* h1 */

font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 130%;
/* identical to box height, or 60px */


/* gray/900 */

color: #1E212C;

/* Inside Auto Layout */

flex: none;
flex-grow: 0;
margin: 0px 0px 35px 0px;
}

.H-t-text{

height: 52px;
left: 32px;
top: 0px;

/* base/regular */

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
/* or 26px */


/* gray/800 */

color: #424551;

margin-bottom: 0rem;
}



/*----------------------------*/

.Home_three{
	margin-top: 80px;
}

.rtl{
height: 24px;
left: 0px;
top: 0px;

/* h6 */

font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

letter-spacing: 1px;
text-transform: uppercase;

/* gray/900 */

color: #1E212C;


/* Inside Auto Layout */

flex: none;
flex-grow: 0;
margin: 8px 0px;
}

.fc{
	/* Featured Courses */
height: 60px;
left: 0px;
top: 32px;

/* h1 */

font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 130%;
/* identical to box height, or 60px */


/* gray/900 */

color: #1E212C;


/* Inside Auto Layout */

flex: none;
flex-grow: 0;
margin: 8px 0px;
}

red{
	color: #FF4242;
}

.h-t-txt{
	/* lead/bold */

font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 150%;
/* or 30px */


/* gray/900 */

color: #1E212C;


/* Inside Auto Layout */

flex: none;
flex-grow: 0;
margin: 20px 0px;
}

.card-img-text-size{
	padding: 10px;
}

.card-comp-lay{
	padding: 50px 0px 0px 40px;
}

/*----------------------------*/

.Home_four{
  margin-top: 80px;
}

.Home-foure-card-1{
  text-align: center;
}

.ob{
  /* h6 */

font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

text-align: center;
letter-spacing: 1px;
text-transform: uppercase;

/* gray/900 */

color: #1E212C;


/* Inside Auto Layout */

flex: none;

flex-grow: 0;
margin: 8px 0px;
}

.thwdi{
  /* h1 */

font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 130%;
/* identical to box height, or 60px */

text-align: center;

/* gray/900 */

color: #1E212C;


/* Inside Auto Layout */

flex: none;
flex-grow: 0;
margin: 8px 0px;
}

.opt{
  /* h2 */

font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 130%;
/* identical to box height, or 42px */


/* gray/900 */

color: #1E212C;


/* Inside Auto Layout */

flex: none;
flex-grow: 0;
margin: 24px 0px;
}

.Urna-nisi{
  top: calc(50% - 130px/2 + 33px);

  /* base/regular */
  
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */
  
  
  /* gray/800 */
  
  color: #424551;
  
  
  /* Inside Auto Layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0px;
  
/* base/regular */

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
/* or 26px */


/* gray/800 */

color: #424551;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;

}

.Home-four-nav{
  text-decoration: none;
  /* base/bold */

font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */


align-items: center;
text-align: center;

/* gray/600 */

color: #9A9CA5;


/* Inside Auto Layout */

flex: none;
flex-grow: 0;
margin: 0px 8px;
border: 2px solid white;
}

.Home-four-nav:hover{
  color: #FF3F3A;
  border: 2px solid #FF3F3A;
  border-radius: 5px;
}

.img-nav{
  padding: 0px 5px 5px 0px;
}

/*----------------------------*/

.Home_five{
  background-color: rgba(236, 128, 128, 0.5);
  margin-top: 80px;
}

.oe{
  /* h6 */

font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

letter-spacing: 1px;
text-transform: uppercase;

/* gray/900 */

color: #1E212C;


/* Inside Auto Layout */

flex: none;
flex-grow: 0;
margin: 8px 0px;
}

.lw{
/* h1 */

font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 130%;
/* identical to box height, or 60px */


/* gray/900 */

color: #1E212C;


/* Inside Auto Layout */

flex: none;
flex-grow: 0;
margin: 8px 0px;
}

.num{
  /* display/4 */

font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 130%;
/* or 62px */

letter-spacing: 1px;

/* primary */

color: #FF3F3A;


/* Inside Auto Layout */

flex: none;
flex-grow: 0;
margin: 0px 20px;
}

.Home_five-mounth{
  /* lead/bold */

font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 150%;
/* identical to box height, or 30px */


/* gray/900 */

color: #1E212C;


/* Inside Auto Layout */

flex: none;
flex-grow: 0;
margin: 4px 0px;
}

.Home_five-time{
  /* base/regular */

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */


/* gray/700 */

color: #787A80;


/* Inside Auto Layout */

flex: none;
flex-grow: 0;
margin: 4px 0px;
}

.Home_five-txt-1{

  /* lead/bold */

font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 150%;
/* identical to box height, or 30px */


/* gray/900 */

color: #1E212C;


/* Inside Auto Layout */

flex: none;
align-self: center;
flex-grow: 0;
margin: 25px 0px 0px 0px;
}

.Home_five-txt-2{
  /* base/regular */

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */

display: flex;
align-items: center;

/* gray/700 */

color: #787A80;


/* Inside Auto Layout */

flex: none;
align-self: flex-start;
flex-grow: 0;
margin: 4px 0px;

}

.Home-five-margin{
  margin-top: 60px;
}

.Home-five-button{
  margin-top: 45px;
}

/*----------------------------*/

.cc{
  /* h6 */

font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

letter-spacing: 1px;
text-transform: uppercase;

/* gray/900 */

color: #1E212C;


/* Inside Auto Layout */

flex: none;
flex-grow: 0;
margin: 8px 0px;
}

.yewbc{
  /* h1 */

font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 130%;
/* or 60px */


/* gray/900 */

color: #1E212C;


/* Inside Auto Layout */

flex: none;
flex-grow: 0;
margin: 8px 0px;
}

.Home-four-text{
  width: 390px;
height: 52px;
  /* base/regular */

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
/* or 26px */


/* gray/800 */

color: #424551;

}

.Home-four-img{
  width: 90px;
}